@font-face{
    font-family:monument extended;
    font-style:normal;
    font-weight:400;
    src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}
@font-face{
    font-family:monument extended;
    font-style:normal;
    font-weight:800;
    src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff) format('woff')}
*{
    background-color: white;
}
body{
    overflow-x: hidden;
}
body #main{
    width:100%;
    height:100%;
    box-sizing: border-box;
    position:relative;
}
#main #nav{
    border: 2px solid black;
    margin: 10px;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#main #nav h1{
    font-family: 'monument extended';
    font-size:30px;
    width: 15%;
    height: 5px;
    position: relative;
    padding-left: 1.5vw;
    padding-bottom: 1.5vw;
    letter-spacing:-1px;
}
#main #nav h1::after{
    content: "©";
    font-size: 20px;
    position: absolute;
    font-family: 'Gilroy';
    font-weight: 70%;
    bottom: 10px;
}
#main #nav h1::before{
    content: "model management";
    font-family: 'Gilroy';
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    top: 32px;
    left: 82px;
    letter-spacing: 1px;
}
#main #nav h2{
    font-family:'Gilroy';
    font-style: normal;
    height: 100%;
    width: 25%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main #nav h2:nth-last-child(1){
    width:10%;
    border:hidden;
}
#main #nav h2:nth-child(3)
{
    width:20%;
}
#main #nav h2:nth-last-child(2){
    width:20%;
}
#main #nav button{
    height: 9vh;
    border: none;
    width: 5%;
}
#main #nav button i{
    background-color: transparent;
    font-size: 30px;
}
#main #nav button:hover{
    background-color: rgb(120, 120, 120);
    cursor: pointer;
}
#main #video-container{
    height:550px;
    width: 100%;
    position: relative;
    padding: 1vw;
    overflow-x:hidden; 
}
#main #video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
#main #title h4{
    font-family: 'monument extended';
    font-size: 60px;
    color: white;
    background-color: transparent;
    letter-spacing: 1px;
    position: absolute;
    top: 350px;
    left: 30px;
}
#main #title h3{
    font-family: 'monument extended';
    font-size: 15px;
    font-weight: lighter;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 5px;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: 70px;
}
#main #below{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1350px;
    top: 570px;
    left: 30px;
    position: absolute;
    background-color: transparent;
    border-top: 2px solid white;
}
#main #below h3{
    background-color: transparent;
    color: white;
    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: 300;
    left: 10px;
}
#main #below h4{
    background-color: transparent;
}
#main #below h4 i{
    background-color: transparent;
    color: white;
    font-size: 30px;
}
@keyframes myanimation {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}
@keyframes imganimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20vw);
    }
    100% {
        transform: translateX(0);
    }
}
#profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    animation: myanimation 15s linear infinite;
}
#profiles img{
    object-fit: cover;
    height: 150px;
    width: 150px;
    padding: 1vw;
    border-radius: 50%;
}
#profiles figcaption{
    font-family: 'Gilroy';
    text-align: center;
}
#alphabets{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 10px;
}
#alphabets h3{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid black;
}
#alphabets h4{
    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: 400;
    padding: 1vw;
    border-radius: 50%;
}
#alphabets h4:hover{
    border: 1px solid black;
}
#page1{
    height: 600px;
    width: 100%;
    padding: 2vw;
    display: flex;
    gap: 40px;
    padding-bottom: 15px;
}
#page1-left{
    width: 40%;
    height: 100%;
}
#page1-right{
    width: 60%;
    height: 100%;
}
#page1-left img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#page1-left p{
    text-align: center;
    font-family: 'monument extended';
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}
#page1-right #right-image{
    height: 70%;
    width: 100%;
}
#right-image img{
    margin-right: 2vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page1-right #para{
    height: 30%;
    width: 90%;
}
#para{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}
#para #para1{
    width: 100%;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: large;
}
#para #para2{
    width: 100%;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: medium;
}
#page2{
    height: 800px;
    width: 100%;
    padding: 2vw;
    display: flex;
    gap: 50px;
    padding-bottom: 5px;
}
#left-part{
    text-align: center;
    width: 40%;
    height: 100%;
}
#right-part{
    text-align: center;
    width: 50%;
    height: 100%;
}
#left-part img{
    width: 100%;
    height: 80%;
}
#left-part p{
    font-family: 'Gilroy';
    font-size: 30px;
    font-weight: bold;
}
#right-part img{
    width: 100%;
    height: 100%;
    margin-left: 25px;
}
#page3{
    height: 550px;
    width: 100%;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}
#page3 img{
    height: 100%;
    weight: 100%;
    object-fit: fill;
}
#page4 h3{
    font-family: 'monument extended';
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
#page4 #creator1{
    display: flex;
    text-align: center;
    height:100px;
    width: 100%;
    gap: 150px;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#page4 #creator1 h4{
    width: 30%;
    font-family: 'Gilroy';
    font-size: medium;
    font-weight: 500;
}
#page4 #creator1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#page4 #creator1 img:hover{
    animation: imganimation 5s linear infinite;
}
#page4 #creator1 h3{
    width: 30%;
    font-family: 'Gilroy';
    font-size: x-large;
}
#page4 #creator1 h3::before{
    content: "25TH MARCH 2020";
    font-family: 'Gilroy';
    font-size: small;
    font-weight: 500;
    position: absolute;
    top: 80px;
    letter-spacing: 1px;
}
#page4 #creator2{
    display: flex;
    text-align: center;
    height: 100px;
    width: 100%;
    gap: 150px;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#page4 #creator2 h4{
    width: 30%;
    font-family: 'Gilroy';
    font-size: medium;
    font-weight: 500;
}
#page4 #creator2 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
#page4 #creator2 img:hover{
    animation: imganimation 5s linear infinite;
}
#page4 #creator2 h3{
    width: 30%;
    font-family: 'Gilroy';
    font-size: x-large;
}
#page4 #creator2 h3::before{
    content: "3RD FEBRUARY 2020";
    font-family: 'Gilroy';
    font-size: small;
    font-weight: 500;
    position: absolute;
    top: 80px;
    letter-spacing: 1px;
}
#page4 #notice1{
    display: flex;
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#page4 #notice1 h4{
    width: 30%;
    font-family: 'Gilroy';
    font-size: medium;
    font-weight: 500;
}
#page4 #notice1 h2{
    width: 25%;
    font-family: 'Gilroy';
    font-size: x-large;
}
#page4 #notice1 h3{
    width: 30%;
    font-family: 'Gilroy';
    font-size: x-large;
}
#page4 #notice1 h3::before{
    content: "14TH JANUARY 2020";
    font-family: 'Gilroy';
    font-size: small;
    font-weight: 500;
    position: absolute;
    top: 82px;
    letter-spacing: 1px;
}
#page4 #notice2{
    display: flex;
    text-align: center;
    height: 100px;
    gap: 370px;
    width: 100%;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#page4 #notice2 h4{
    width: 30%;
    font-family: 'Gilroy';
    font-size: medium;
    font-weight: 500;
}
#page4 #notice2 h3{
    width: 30%;
    font-family: 'Gilroy';
    font-size: x-large;
}
#page4 #notice2 h3::before{
    content: "8TH JANUARY 2020";
    font-family: 'Gilroy';
    font-size: small;
    font-weight: 500;
    position: absolute;
    top: 82px;
    letter-spacing: 1px;
}
#page5{
    height: 600px;
    width: 100%;
    display: flex;
    padding: 2vw;
    gap: 40px;
}
#page5 #leftPart{
    height: 100%;
    width: 40%;
    text-align: center;
}
#leftPart img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}
#page5 #rightPart{
    height: 100%;
    width: 60%;
    margin: none;
}
#page5 #rightPart h3{
    font-family: 'monument extended';
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
    margin: -5px;
}
#page5 #rightPart #para1 {
    font-family: 'Gilroy';
    font-size: medium;
    font-weight: 600;
}
#page5 #rightPart #para2 {
    font-family: 'Gilroy';
    font-size: small;
    font-weight: 550;
}
#page5 #rightPart #images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: -5vw;
}
#page5 #rightPart #images img{
    width: 35%;
    height: 20%;
    object-fit: cover;
    border: 2px solid black;
}
#page6{
    height: 550px;
    width: 100%;
    padding: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}
#page6 img{
    height: 100%;
    weight: 100%;
    object-fit: fill;
}
#page7{
    height: 500px;
    width: 100%;
    display: flex;
    padding: 2vw;
    gap: 15px;
}
#page7 #left7{
    width: 30%;
    height: 100%;
    text-align: center;
}
#page7 #left7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7 #right7{
    width: 70%;
    height: 100%;
    text-align: center;
}
#page7 #right7 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
#page7 #right7 #text7{
    display: flex;
}
#right7 #text7 #para1{
    font-family: 'Gilroy';
    font-size: 25px;
    font-weight: normal;
    width: 45%;
    margin: 0vh;
    text-align: left;
}
#right7 #text7 #para2{
    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: 400;
    margin: 0vh;
    width: 50%;
    text-align: center;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 10px;
}
#banner h2{
    display: flex;
    font-family: 'monument extended';
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    animation: myanimation 15s linear infinite;
}
#blogs{
    display: flex;
    height: 600px;
    width: 100%;
    padding: 5vw;
}
#blogs #title{
    font-family: 'monument extended';
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
    width: 20%;
    text-align: center;
}
#blogs #posts{
    display: flex;
    gap: 5px;
}
#blogs #posts figure{
    width: 50%;
    height: 100%;
    text-align: center;
    display: block;
}
#blogs #posts figure #symbol{
    font-family: 'Gilroy';
    font-size: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: 600;
}
#blogs #posts figure #text{
    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: 600;
}
#blogs #posts figure img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
#end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 300px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#end #other{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#end #other h1{
    font-family: 'monument extended';
    font-size:30px;
    width: 40%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-left: 1.5vw;
    letter-spacing:-1px;
}
#end #other h1::after{
    content: "©";
    font-size: 15px;
    position: absolute;
    font-family: 'Gilroy';
    font-weight: 70%;
    bottom: 280px;
    left: 220px;
}
#end #other h1::before{
    content: "model management";
    font-family: 'Gilroy';
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    top: 28px;
    left: 90px;
    letter-spacing: 1px;
}
#end #other h2{
    font-family:'Gilroy';
    font-style: normal;
    height: 100%;
    width: 30%;
    padding-left: 3vw;
    margin-left: 2vw;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#end #contact{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#end #contact h2{
    font-family:'Gilroy';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid black;
}
#end #contact h3{
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
}
#end #contact h3 i{
    font-size: 20px;
    padding-left: 5vw;
}
#end #contact p{
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 20px;
    padding-left: 5vw;
  }
